<h1><%= @subject.name %></h1>
<div class="input-field">
  <input type="hidden" name="href" value="/subjects/show/<%= @subject.id %>">
  <select name="sort">
    <option value="" disabled selected>並び順</option>
    <option value="period">最近の授業</option>
    <option value="rate">高評価</option>
  </select>
</div>
<% @posts.each do |post| %>
  <div class="post z-depth-3">
    <div class="post-content">
      <div>
        <%= post.content %>
      </div>
      <div>担当者　<%= post.instructor %></div>
      <div>投稿者　<%= post.period %>期 </div>
      <div>評価　<%= post.rate %></div>
    </div>
  </div>
<% end %>
<div>
  <input type="button" id="new-post" class="waves-effect waves-light btn" value="投稿する" />
  <div class="new-post-form" style="display: none">
  <%= form_for @newPost, :url => post_create_path do |f| %>
    <label>内容</label>
    <%= f.text_area :content %>
    <label>担当者</label>
    <%= f.text_field :instructor %>
    <div class="input-field col s12">
      <%= f.select :period, @periodList.map { |period| [period, period] }, :prompt => "選択してください" %>
      <label>期</label>
    </div>
    <div class="input-field col s12">
      <%= f.select :rate, [[5, 5], [4, 4], [3, 3], [2, 2], [1, 1]], :prompt => "選択してください" %>
      <label>評価</label>
    </div>
    <%= f.hidden_field :subject_id %>
    <%= f.submit "投稿", :class => "waves-effect waves-light btn" %>
  <% end %>
  </div>
</div>
<%= link_to "科目一覧に戻る", subjects_index_path, data: {"turbolinks" => false} %>