<h5><%= @keyword %>の検索結果</h5>
<div class="input-field">
  <%= hidden_field_tag 'key', @keyword %>
  <input type="hidden" name="href" value="/posts/search">
  <select name="sort">
    <option value="" disabled selected>並び順</option>
    <option value="period">最近の授業</option>
    <option value="rate">高評価</option>
  </select>
</div>
<ul>
  <% @posts.each do |post| %>
    <div class="post z-depth-3">
      <div class="post-content">
        <div>
          <%= post.content %>
        </div>
        <hr>
        <div>
          <div class="inline">担当者　<%= post.instructor %></div>
          <div class="inline">投稿者　<%= post.period %>期</div>
          <div class="inline">
            評価　
            <div class="star-ratings-sprite inline">
              <span style="width:<%= post.rate %>%" class="star-ratings-sprite-rating"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</ul>
