<h1>検索結果</h1>
<div class="input-field">
  <%= hidden_field_tag 'key', @keyword %>
  <input type="hidden" name="href" value="/posts/search">
  <select name="sort">
    <option value="" disabled selected>並び順</option>
    <option value="period">最近の授業</option>
    <option value="rate">高評価</option>
  </select>
</div>
<ul>
  <% @posts.each do |post| %>
    <div>
      <%= post.content %>
    </div>
    <div>担当者　<%= post.instructor %></div>
    <div>投稿者　<%= post.period %>期 </div>
    <div>評価　<%= post.rate %></div>
  <% end %>
</ul>
