<!DOCTYPE html>
<html>
  <head>
    <title>UoaEval</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav class="grey darken-4">
        <div class="nav-wrapper">
          <div class="brand-logo center">
            <%= link_to "Eval(uoa);", subjects_index_path, data: {"turbolinks" => false} %>
          </div>
        </div>
      </nav>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <div class="fixed-action-btn">
      <p id="pageTop" class="right btn-floating btn-large grey darken-4"><i class="material-icons">arrow_upward</i></p>
    </div>
  </body>
</html>
