<!DOCTYPE html>
<html>
  <head>
    <title>UoaEval</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="black darken-1">
      <div class="nav-wrapper">
        <div class="brand-logo center">
          <%= link_to "Eval(uoa);", subjects_index_path, data: {"turbolinks" => false} %>
        </div>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
        </ul>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
      <p id="pageTop" class="right btn-floating btn-large waves-effect waves-light black"><i class="material-icons">arrow_upward</i></p>
    </div>
  </body>
</html>
