<!DOCTYPE html>
<html>
  <head>
    <title>Eval</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Norican&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <div class="brand-logo center" style="font-family: 'Norican', cursive;">
            <%= link_to "Eval", subjects_index_path, data: {"turbolinks" => false} %>
          </div>
          <ul class="right hide-on-med-and-down">
            <li>
          <form action="/posts/search" method="get">
            <div class="input-field">
              <input id="keyword" name="keyword" type="search">
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <div class="fixed-action-btn">
      <p id="pageTop" class="right btn-floating btn-large"><i class="material-icons">arrow_upward</i></p>
    </div>
  </body>
</html>
